@import "tailwindcss";

h1 {
    font-size: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    text-decoration: underline;
    transform: translate(-50%,-50%);
    font-weight: 700;
    white-space: nowrap;
}
